<div class="callout ajouter-amendement">
    <button class="close-button" aria-label="Close alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Bienvenue sur les lois et amendements</p></div>
<div class="card detail-amendement">
    <h3>Ajouter un amendement à la loi</h3>
    <h4>Titre d'une loi</h4>
    <form method="post" action="/review">
        <label for="texte-amendement">Amendement
            <textarea id="texte-amendement" name="texte-amendement"
                      placeholder="Tapez votre texte ici.."></textarea>
        </label>

        <!--<button type="submit" @click.prevent="submit">go!</button>-->
        <button type="submit" class="button float-right">go!</button>
    </form>
</div>
<div class="card detail-amendement">
    <div class="card-divider">
        Titre Amendement
    </div>
    <div class="card-section">
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
    </div>
</div>
<div class="card detail-amendement">
    <div class="card-divider">
        Titre Amendement
    </div>
    <div class="card-section">
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
    </div>
</div>